<% include ./partials/header.ejs %>
	<h1 style="text-align:center;">404: Not Found</h1>
    <img style="display:block;margin-left:auto;margin-right:auto;width: 50%;" src="https://media.giphy.com/media/3o6Zt7aSSZLX6U5WtW/source.gif">
  </body>
</html>
