<% include ./partials/header.ejs %>
		<div class="cWrapper">
			<div class="content">
				<div id="homeContent">
					<h1 style="font-size:3.5em;font-weight:bold;margin:0;">Home</h1><hr style="width:100%;margin-left:0"></hr>
					<p>Lorem ipsum accumsan congue convallis interdum vulputate sodales et suscipit ornare pellentesque nam quis, id tellus viverra nunc duis nisl interdum primis aenean malesuada luctus suspendisse varius conubia luctus bibendum ipsum hac luctus metus lectus feugiat duis, venenatis augue potenti vulputate dolor ut nam elit consequat primis at, nisi mattis arcu ligula inceptos neque tortor interdum varius adipiscing hendrerit laoreet ante senectus gravida semper donec proin pharetra tempor a, sit cursus phasellus curabitur libero taciti quisque dolor magna orci etiam eu per ad turpis.</p>
					<p>Luctus nullam consectetur suspendisse in morbi urna phasellus malesuada, per accumsan porta erat quis lobortis per taciti viverra, sem aptent enim interdum tempus himenaeos aenean et platea ligula dictumst hendrerit fusce, lacus conubia massa urna ante mollis, nibh tortor nullam ipsum.</p>
					<p>Sollicitudin conubia vulputate tempor metus tellus orci class convallis, inceptos iaculis dui conubia praesent posuere arcu, vehicula nibh ultricies eros lectus augue fusce accumsan lobortis maecenas nibh erat massa lobortis fringilla ante libero euismod congue pharetra, aliquam mauris donec vitae blandit imperdiet eros commodo pellentesque praesent est.</p>
					<p>Leo mi rhoncus est eget erat vehicula eleifend urna congue, risus taciti iaculis ante consequat ligula hendrerit nibh etiam consequat torquent nostra ante bibendum eleifend class, donec tristique massa vel aliquam cursus auctor, maecenas diam dapibus massa tortor iaculis ante cras eros nulla pretium curabitur conubia porta volutpat velit tellus, faucibus litora tristique vehicula ultricies habitant etiam volutpat faucibus elementum praesent adipiscing est sagittis ullamcorper primis torquent tempus taciti venenatis cursus.</p>
					<p>Primis maecenas integer torquent urna ac mauris ultricies proin magna, velit pharetra urna curae ac leo suscipit himenaeos nunc lacinia, sollicitudin hac ut eget cursus habitant sem ut litora euismod netus nostra.</p>
				</div>				
			</div>
		</div>
	</body>
</html>
